


div#headingsRow {
  span#rewards {
    margin: 40px;
    color: red;
  }
  span#categories {
    color: blue;
    margin: 40px;
  }
}

ul#categoryHeadings, ul#swimLanes, ul#swimLane {
  list-style-type:none;
  li {
    display: inline;
    margin: 40px;
  }
}

ul.swimLane {
  li.laneName {
    border: 1px dotted black;
  }
}

ul.swimLane {
  flex: 1;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-self: center;
  //justify-content: center;
  justify-content: left;

  padding: 10px;

  list-style-type:none;
  margin-bottom:  0px;

  li.laneName {
    //flex: 1;

    margin: 2px;
    //border: 1px solid blue;
    //border-radius: 5px;

    padding: 3px;
    //width: 40px;
    flex: 0 0 1.8em;

    text-align: left;
  }

  //li.num:nth-child(3n) {
  //  background: lightcyan;
  //}

  li:hover {
    border-style: dashed;
  }
}


ul#categoryHeadings {
  flex: 1;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-self: center;
  //justify-content: center;
  justify-content: left;

  //padding: 10px;
  //padding: 100px;
  margin-left: 3em;

  list-style-type:none;
  margin-bottom:  0px;

  li.laneName {
    //flex: 1;

    margin: 2px;
    //border: 1px solid blue;
    //border-radius: 5px;

    padding: 3px;
    //width: 40px;
    flex: 0 0 1.8em;

    text-align: left;
  }

  //li.num:nth-child(3n) {
  //  background: lightcyan;
  //}

  li:hover {
    border-style: dashed;
  }
}

